{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>EMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'item-list2.css'%}">
    <title>Document</title>
</head>
<body>
        <h1>List of Items of Badminton</h1>
        <ol class="olcards">
            <li style="--cardColor:#fc374e">
                <a href="badminton_raquests.html"><div class="content">
                    <div class="icon">😀</div>
                    <div class="title">Raquets</div>
                    <div class="text">Click here to access raquets info.</div>
                </div></a>
            </li>
            <li style="--cardColor:#36aeb3">
                <a href="badminton_shuttle.html"><div class="content">
                    <div class="icon">😁</div>
                    <div class="title">Shuttle</div>
                    <div class="text">Click here to access shuttle info.</div>
                </div></a>
            </li>
            <li style="--cardColor:#162d59">
                <a href="badminton_nets.html"><div class="content">
                    <div class="icon">😁</div>
                    <div class="title">Nets</div>
                    <div class="text">Click here to access nets info.</div>
                </div></a>
            </li>

        </ol>
    </body>
</html>