{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'item-list4.css'%}">
    <title>Document</title>
</head>
<body>
        <h1>List of Items of Table Tennis</h1>
        <ol class="olcards">
            <li style="--cardColor:#fc374e">
                <a href="tt_balls.html"><div class="content">
                    <div class="icon">😀</div>
                    <div class="title">Balls</div>
                    <div class="text">Click here to access balls info.</div>
                </div></a>
            </li>
            <li style="--cardColor:#36aeb3">
                <a href="tt_raquets.html"><div class="content">
                    <div class="icon">😁</div>
                    <div class="title">Raquets</div>
                    <div class="text">Click here to access raquets info.</div>
                </div></a>
            </li>
            <li style="--cardColor:#162d59">
                <a href="tt_tables.html"><div class="content">
                    <div class="icon">😁</div>
                    <div class="title">Tables</div>
                    <div class="text">Click here to access tables info.</div>
                </div></a>
            </li>

        </ol>
    </body>
</html>