{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'item-list5.css'%}">
    <title>Document</title>
</head>
<body>
        <h1>List of Items of Basket Ball</h1>
        <ol class="olcards">
            <li style="--cardColor:#fc374e">
                <a href="bb_balls.html"><div class="content">
                    <div class="icon">😀</div>
                    <div class="title">Balls</div>
                    <div class="text">Click here to access balls info.</div>
                </div></a>
            </li>
            <li style="--cardColor:#36aeb3">
                <a href="bb_baskets.html"><div class="content">
                    <div class="icon">😁</div>
                    <div class="title">Baskets</div>
                    <div class="text">Click here to access baskets info.</div>
                </div></a>
            </li>

        </ol>
    </body>
</html>