{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "otp.css"%}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="{% static "otp.js"%}" defer></script>
</head>
<body>


<div class="container mt-5 pt-4">

    <div class="col-12 mx-auto">
        <header class="d-flex justify-content-center">
            <i class="bx bxs-check-shield"></i>
        </header>
        <h3 class="text-center">Enter OTP sent to your Email </h3>
        {% if message %}
        <div class="alert alert-{{class}}">
            {{message}}
        </div>
        {% endif %}

        <form class="mt-2" method="post">
            {% csrf_token %}
            <form action="#">
                <div class="input-field">
                  <input type="number"  name="otp1" id="otp1"/>
                  <input type="number" name="otp2" id="otp2" disabled />
                  <input type="number" name="otp3" id="otp3" disabled/>
                  <input type="number" name="otp4" id="otp4" disabled/>
                </div>

            <button class="btn btn-primary" style="color:black;border-color:black;background-color: #f3e9dc;">Submit</button>
        </form>
    </div>

</div>

</body>
</html>